<mat-toolbar color="primary">
  <mat-toolbar-row>

    <img class="logo" alt="Dyrvold Development"
         src="../../assets/DD-Logo.png">

    <button mat-button> About Me </button>
    <button mat-button> Contact </button>
    <button mat-button> Projects </button>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <!-- <mat-option>Username</mat-option> -->
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="username" name="username" [formControl]="emailFormControl" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <!-- <mat-option>Password</mat-option> -->
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
      <button mat-button> Login </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
